body {
  font-family: "FuturaLightC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  background-color: #EEF0D9;
  overflow: hidden;
}

.toCenter {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.tracker {
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: -50;
  justify-content: space-between;
  align-items: center;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

.blinkingCircle {
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

main {
  width: 100%;
  margin-top: 0px;
  height: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  height: 65vw;
  justify-content: center;
  position: relative;
}
.box1 {
  position: absolute;
  top: 5%;
  left: 10%;
}

.box1 img {
 width: 36%;
}

.box2 {
  z-index: 4;
  position: absolute;
  top: 15%;
  left: 40%;
}

.box2 img {
 width: 50%;
}

.box3 {
  position: absolute;
  top: 4%;
  left: 60%;
  z-index: 6;
}

.box3 img {
  width: 90%;
}

.box4 {
  position: absolute;
  z-index: 7;
  top: 10%;
  left: 30%;
}

.box4 img {
 width: 34%;
}

.box6 {
  transform: rotate(35deg);
  z-index: -20;
  position: absolute;
  top: 15%;
  left: 40%;
}

.box6 img {
  width: 90%;
}

.box7 {
  z-index: -30;
  position: absolute;
  top: 8%;
  left: 7%;
}

.box7 img {
  width: 64%;
}

.box8 {
  z-index: 3;
  position: absolute;
  top: 5%;
  left: 45%;
}

.box8 img {
 width: 50%;
}

.box9 {
  opacity: 0.7;
  margin-top: 30px;
  z-index: 5;
  position: absolute;
  left: -10%;
  top: 10%;
  width: 120%;
}

img.line2 {
  z-index: -10;
  width: 100%;
  margin-top: -25%;
  margin-bottom: -6%;
}
.path {
   -webkit-background-clip: text;
 }

#example .new {
  opacity: 0;
  position: absolute;
  color: black;
  padding:0px 0px 0px 100px;
  width:350px;
  display:none;
}

p #example .div_opacity {
 -webkit-transition: opacity .2s ease-in-out;
 -moz-transition: opacity .2s ease-in-out;
 -ms-transition: opacity .2s ease-in-out;
 -o-transition: opacity .2s ease-in-out;
 transition: opacity .2s ease-in-out;
 opacity: 1;
}
