body {
 font-family: 'Alegreya Sans SC', sans-serif;
  margin: 0 auto;
  background-color: #EEF0D9;
  overflow: hidden;
}
main img {
  filter: grayscale(100%);
  filter: gray;
  transition: all 1s;
}

main img:hover {
  filter: none;
  /* transform: scale(1.1); */
}

.toCenter {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.tracker {
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: -50;
  justify-content: space-between;
  align-items: center;
}

p {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
}

.blinkingCircle {
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

main {
  width: 100%;
  margin-top: 0px;
  height: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  /* overflow: hidden; */
  display: flex;
  height: 30vw;
  width: 80%;
  margin: auto;
  justify-content: center;
  position: relative;
}

img.feet  {
  transform: rotate(12deg);
  position: absolute;
  top: 78%;
  left: 90%;
  width: 40%;
}

img.jump {
  transform: rotate(-10deg);
  position: absolute;
  top: 17%;
  left: 75%;
  width: 54%;
}
img.concert {
  transform: rotate(-16deg);
  position: absolute;
  top: 37%;
  right: -55%;
  width: 48%;
}
img.wine {
  transform: rotate(-20deg);
  position: absolute;
  top: 95%;
  right: -50%;
  width: 40%;
}

img.redbaloon {
  position: absolute;
  transform: rotate(7deg);
  top: 43%;
  left: 51%;
  width: 51%;
}

img.holi {
  position: absolute;
  transform: rotate(4deg);
  z-index: 7;
  top: 4%;
  left: -3%;
  width: 46%;
}

img.food {
  transform: rotate(10deg);
  /* z-index: -10; */
  position: absolute;
  top: 32%;
  left: 2%;
  width: 59%;
}

img.waterfall {
  position: absolute;
  transform: rotate(7deg);
  top: 16%;
  left: 30%;
  width: 34%;
}

img.piano {
  transform: rotate(-12deg);
  /* z-index: -30; */
  position: absolute;
  top: 10%;
  left: -37%;
  width: 60%;
}

img.water {
  transform: rotate(-19deg);
  /* z-index: -20; */
  position: absolute;
  top: 1%;
  left: -27%;
  width: 35%;
}


img.feetFlowers {
  transform: rotate(-10deg);
  /* z-index: 3; */
  position: absolute;
  top: 20%;
  left: 55%;
  width: 36%;
}

/* img.send{
  width: 80%;
  position: absolute;
  bottom: -150%;
  left: -40%;
} */

.box9 {
  opacity: 0.7;
  z-index: -10;
  position: absolute;
  left: -10%;
  top: 16%;
  width: 120%;
}
.box10 {
  opacity: 0.7;
  z-index: -10;
  position: absolute;
  left: -10%;
  top: 18%;
  width: 120%;
}
.box11 {
  opacity: 0.7;
  z-index: -10;
  position: absolute;
  left: -10%;
  top: 20%;
  width: 120%;
}
.box12 {
  opacity: 0.7;
  z-index: -10;
  position: absolute;
  left: -10%;
  top: 22%;
  width: 120%;
}
.box13 {
  opacity: 0.7;
  z-index: -10;
  position: absolute;
  left: -10%;
  top: 24%;
  width: 120%;
}
.path {
  -webkit-background-clip: text;
 }

#example .new {
  opacity: 0;
  position: absolute;
  color: black;
  padding: 0px 0px 0px 100px;
  width: 350px;
  display: none;
}

p #example .div_opacity {
 -webkit-transition: opacity .2s ease-in-out;
 -moz-transition: opacity .2s ease-in-out;
 -ms-transition: opacity .2s ease-in-out;
 -o-transition: opacity .2s ease-in-out;
 transition: opacity .2s ease-in-out;
 opacity: 1;
}
